body {
  height: 1000px;

}
ul.nav-bar {
  /* display: block; */
  background-color : rgba(255, 227, 217, 1.0);
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}
.nav-bar li {
  list-style: none;
  display: block;
  float: right;
  padding: 10px;
  margin-right: 10px;
  /* color: green; */
  margin-top: 10px;
}
ul.nav-bar li a {
  text-decoration: none;
  color: rgb(66, 64, 82);
}
ul.nav-bar li:nth-child(1) {
  font-size: xx-large;
  color: rgb(66, 64, 82);;
  margin: 0px 10px;
  float: left;
}
h1 {
  color: rgb(66, 64, 82);;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; 
  
}
#covid {
  text-decoration: none;
  font-size: xx-large;
  color: rgb(66, 64, 82);
 
}
#covid-section {
  margin-top: 60px;
  padding: 40px; 
  text-align: center;
  background-color : rgba(255, 227, 217, 1.0);
  margin-bottom: 60px;
}
a>span {
  color: red;
}
