body {
  height: 1000px;

}
ul.nav-bar {
  /* display: block; */
  background-color : rgba(255, 227, 217, 1.0);
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}
.nav-bar li {
  list-style: none;
  display: block;
  float: right;
  padding: 10px;
  margin-right: 10px;
  /* color: green; */
  margin-top: 10px;
}
ul.nav-bar li a {
  text-decoration: none;
  color: rgb(66, 64, 82);
}
ul.nav-bar li:nth-child(1) {
  font-size: xx-large;
  color: rgb(66, 64, 82);;
  margin: 0px 10px;
  float: left;
}
h1 {
  color: rgb(66, 64, 82);;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; 
  font-size: 70px;
  
}
#covid {
  text-decoration: none;
  font-size: xx-large;
  color: rgb(66, 64, 82);
 
}
#covid-section {
  margin-top: 60px;
  padding: 40px; 
  text-align: center;
  background-color : rgba(255, 227, 217, 1.0);
  margin-bottom: 60px;
}
a>span {
  color: red;
}

#footer {
  overflow: hidden;
  width: 100%;
  background-color: rgb(66, 64, 82);
  padding: 10px;

}
#containerFooterElement {
  width: 100%;;
}
.inner-divisions {
  width: 20%;
  float: left;
  display: inline;
}
.inner-divisions li {
  list-style: none;
  color : rgba(255, 227, 217, 1.0);
  
  
}
.inner-divisions li:nth-child(1) {
  color: white;
  font-size: x-large;
  margin-bottom: 20px;
}
#social a {
  margin-left: 20px;
  text-decoration:none;
}
#social-container {
  background-color: rgb(66, 64, 82);
  margin-top: 0px;
}
#social-container h2 {
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 0px;
  padding-top:20px ;
}
#branding {
  background-color: rgb(66, 64, 82);
  padding: 20px;
  font-size:30px;
  height:250px
}
#branding h2 {
  margin-bottom: 0px;
}
#branding p {
  margin-top: 0px;
}
#inner-branding {
  background-color:rgba(255, 227, 217, 1.0);
  color: rgb(66, 64, 82);
  width: 25%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 20px;
  height: 220px;
  margin-left: 0px;
  display: inline-block;


}
#subscribe-letter {
  background-color:rgba(255, 227, 217, 1.0);
  color: rgb(66, 64, 82);
  width:65%;
  float: right;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 250px;
  

}
#subscribe-letter h2 {
  text-align: center;  

}
#subscribe-letter input {
  display: inline-block;
  margin-left:200px;
  margin-top: 10px;
  padding:20px;
  width:50%;
  border:none;
  font-size: 50%;

}
#subscribe-letter button {
  padding: 20px;
  border:none;
  color: rgb(66, 64, 82);
  background-color:white ;
  font-size: 16px;
}
#subscribe-letter button:hover {
  background-color: green;
  color: white;
}
#copyright {
  background-color: rgb(66, 64, 82);
  color : rgba(255, 227, 217, 1.0);
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0px;

}